* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  background-color: rgb(231, 229, 229);
  text-align: center;
}
.App {
  padding-top: 150px;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
}
